openai
fastapi
Flask
Flask-RESTFUL
black
isort
websockets
pydantic
langchain==0.0.142
uvicorn
jinja2
faiss-cpu
chromadb==0.3.21
bs4
unstructured
unstructured[local-inference]
libmagic
sentence-transformers
tiktoken